*{
    margin: 0px;
    padding: 0px;
  }

  html{
    scroll-behavior: smooth;
    scroll-padding-top: clamp(24px, 4vw, 120px);
  }
body{
  background-image: url(./image/bg/white-brick.png);
  background-color:rgba(200,200,200,0.5);
  background-blend-mode:lighten;

}
  
.archivo-black-regular {
    font-family: "Archivo Black", sans-serif;
    font-size: clamp(12px, 8vw, 80px);
    font-style: normal;
    color:#000;
    font-feature-settings: "palt";
    letter-spacing: -0.025em;

  }
h1{
    background: linear-gradient(rgba(255,255,255,0.75),rgba(0,0,0,0));
    /* max-width: 960px; */
    min-height: clamp(30px, 12vw, 120px);
    padding:10px;
    
}
h2 {
  font-family: "Archivo Black", sans-serif;
  font-size: clamp(8px, 6vw, 60px);
  font-style: normal;
  color:#000;
  font-feature-settings: "palt";
  letter-spacing: -0.025em;
  margin-bottom: clamp(8px, 0.8vw, 10px);
}
 header p{
  font-family: "Archivo Black", sans-serif;
  font-size: clamp(6px, 2vw, 20px);
  font-style: normal;
  color:rgba(220,220,220,1);
  margin-left: 24px;
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);

 }
  header{

    /* max-width: 960px;*/
    min-height: clamp(80px, 24vw, 320px);
    background-size: cover;
    background-image: url(./image/bg/bg4.jpg);
    background-color:rgba(255,255,255,0);
    background-blend-mode:lighten;
    background-position: center center;
    border-bottom:1px solid #aaa;

  }

  menu{
    background-color: #000;
    width: 100%;
    height:clamp(24px, 4vw, 120px);
    z-index: 100;
  }
  menu li{
    list-style:none;
    color:#fff;
    width:25%;
    height: 100%;
    float:left;
    font-size: clamp(16px, 2vw, 32px);
    text-align: center;
    
    
  }
  menu li a{
    font-family: "Archivo Black", sans-serif;
    width:100%;
    height: 100%;
    display: inline-block;
    line-height: clamp(24px, 4vw, 120px);
    color :#fff;
    text-decoration: none;
    transition: all 0.25s;
    background-image: linear-gradient(to top, #b8281e 50%, rgba(0,0,0,0) 50% );
    background-position: 0 0;
    background-size: auto 200%;

  }
  menu li a:hover{
    color :#fff;
    cursor: pointer;
    background-position: 0 100%;
  }

  #global_nav.fixed {
    left: 0;
    position: fixed;
    top: 0;
}

div.content{

  max-width: 1080px;
  margin: 32px auto;
}
div.content{
  
  background-color: #fff;
  padding:10px;
  font-family: "Noto Sans JP", serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(14px, 1.8vw, 20px);
  border:1px solid #aaa;
}

menu {
  position: fixed;  /* 位置を固定する */
  top: 0;  /* 固定する位置を指定 */
  left: 0;  /* 固定する位置を指定 */


}
div#menu{
  height: clamp(24px, 4vw, 120px);
}

div.profile{
  display: flex;
}
div.profile_left{
  width:30%;
  margin:clamp(6px, 1vw, 12px);
  


}
div.profile_right{
  width:70%;

  

}
p.profile_icon{

}

p.profile_icon img{
  width:90%;
  object-fit: contain;
  border-radius:50%;
}

p.profile_text{
  
}


/*==================================================
ギャラリーのためのcss
===================================*/
.gallery{
  columns: 4;/*段組みの数*/
  padding:0 15px;/*ギャラリー左右に余白をつける*/
  margin:0;
  }
  
  .gallery li {
      margin-bottom: 20px;/*各画像下に余白をつける*/
  list-style:none;
  }
  
  /*ギャラリー内のイメージは横幅100%にする*/
  .gallery img{
    width:100%;
    height:auto;
    vertical-align: bottom;/*画像の下にできる余白を削除*/}
  
  /*　横幅900px以下の段組み設定　*/
  @media only screen and (max-width: 900px) {
    .gallery{
    columns:3;
    }	
  }
  
  @media only screen and (max-width: 768px) {
    .gallery{
    columns: 2;
    }	
  }


  .flipLeft{
    animation-name: flipLeft;
    animation-duration:0.5s;
    animation-fill-mode:forwards;
    perspective-origin: left center;
    opacity: 0;
    z-index: 10;
    }
    
    @keyframes flipLeft{
      from {
       transform: perspective(600px) translate3d(0, 0, 0) rotateY(30deg);
      opacity: 0;
      }
    
      to {
      transform: perspective(600px) translate3d(0, 0, 0) rotateY(0deg);
      opacity: 1;
      }
    }

    /* 下から */

.fadeUp{
  animation-name:fadeUpAnime;
  animation-duration:0.5s;
  animation-fill-mode:forwards;
  opacity:0;
  }
  
  @keyframes fadeUpAnime{
    from {
      opacity: 0;
    transform: translateY(100px);
    }
  
    to {
      opacity: 1;
    transform: translateY(0);
    }
  }

  /* スクロールをしたら出現する要素にはじめに透過0を指定　*/
 
.fadeUpTrigger{
  opacity: 0;
}

/* 読み込み*/


#loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: #fff;
  text-align: center;
}
#loading_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#loading .kvArea {
  width: 100%;
}